{% extends 'quizzes/base.html' %}
{% comment %}
    Generic: used to delete elements. Should have
    var object = model instance for the type to delete
    var type = string of the type
{% endcomment %}

{% block title %}
<title>Delete Item - {{site_name}}</title>
{% endblock %}

{% block content %}
    <p class="warning"> Are you sure you want delete the following post? </p>
    {{ post.as_html | safe }}

    <form action="{% url 'delete_item' objectStr=type pk=object.pk%}" class="delete-form" method="POST">{% csrf_token %}
        <input class="btn btn-warning" type="submit" value="Yes">
    </form>
    {% if type == "pollquestion" %}
        <a href="{% url 'poll_admin' course_pk=object.poll.course.pk poll_pk=object.poll.pk %}" class="btn btn-default">No</a>
    {% endif %}

{% endblock %}
