{% extends 'Problems/base.html' %}
{% load render_table from django_tables2 %}

{% comment %}
    Has context {{live_quiz}} which is a list of Quiz elements which are currently active
    Has context {{all_quizzes}} which is a list of all Quiz elements
    Has context {{student_quizzes}} which is a list of StudentQuizResult elements
    Has context {{message}} which is a String
{% endcomment %}

{% block title %}
<title>Quizzes - {{site_name}}</title>
{% endblock %}

{% block content %}
    <h1>Quizzes</h1>

    <p class="warning">{{message}}</p>

    {% if user.is_staff %}
        <div class="quiz-divs">
            <h3>Administration</h3>
            {% render_table all_quizzes_table %}
        </div>
    {% endif %}

    <div class="quiz-divs">
        <h3>Live Quizzes</h3>

        <ul>
        {% for quiz in live_quiz %}
        <li> <a class="btn btn-default" href="{% url 'start_quiz' quizpk=quiz.pk %}">Start {{quiz.name}}</a> <small>({{quiz.out_of}} questions) Ends {{quiz.expires}}</small> 
        {% empty %}
            <p> There are currently no live quizzes.</p>
        {% endfor %}
        </ul>
    </div>

    <div class="quiz-divs">
        <h3>Previous Quiz Results</h3>
            {% render_table student_quizzes %}
    </div>
{% endblock %}
 
