{% extends 'quizzes/base.html' %}

{% comment %}
    Has context "return_html" which is a string containing the problems/answers
    Has context "sqr" which is StudentQuizResult
    Has context "course_pk" with the primary key for the course
{% endcomment %}

{% block title %}
    <title>Quiz Details - {{site_name}}</title>
{% endblock %}

{% block content %}

    <a href="{% url 'list_quizzes' course_pk=course_pk%}">&#171; Return to Quizzes</a>
    <h2>{{sqr.quiz.name}}</h2>
    
    {{return_html | safe}}
{% endblock %}


