{% extends 'quizzes/base.html' %}

{% comment %}
    Has context {{mquestion}}, a MarkedQuestion element
{% endcomment%}

{% block title %}
    <title>Test Question - {{site_name}}</title>
{% endblock %}

{% block content %}
    <a href="{% url 'quiz_admin' course_pk=mquestion.quiz.course.pk quiz_pk=mquestion.quiz.pk %}">&#171; Return to Quiz Administration</a>
    <h1>Test Question</h1>
   
    <form method="POST"> {% csrf_token %}
        <input id="num_tests" name="num_tests" value="100" type="number">
        <input id="submit" type="submit" value="Run Test">
    </form>

    <div id="test_results">

    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready( function() {
            $('#submit').click( function(event) {
                event.preventDefault()
                value =  $("#num_tests").val();
                $.post('{% url "test_quiz_question" course_pk=mquestion.quiz.course.pk quiz_pk=mquestion.quiz.pk mq_pk=mquestion.pk %}', 
                    {'num_tests': value},
                    function (data) {
                        $("#test_results").html(data);
                        renderMathInElement( $("#test_results")[0]);
                    },
                    'html');
            });
        });
    </script>

{% endblock %}


