{% extends "quizzes/base.html" %}

{% block title %}
    Reset Password
{% endblock %}

{% block content %}
    <p> Enter the email address you have on file</p>
    <form method="POST" action="{% url 'password_reset' %}">
    {% csrf_token %}
        <table class="form-table">
            {% for field in form %}
            <tr>
                {{field.errors}}
                <td> {{ field.label_tag }} </td>
                <td> {{ field }} </td>
            </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Submit" />
    </form>
{% endblock %}
